.main-container {
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 2px 4px 4px 4px rgba(0, 0, 0, 0.25);
}

@media (min-width: 687px) {
    .main-container {
        min-width: 400px;
    }
}

@media (max-width: 687px) {
    .main-container {
        flex-direction: column;
    }
    .logo-wrapper {
        padding: 3rem 0;
    }
}
